# **Lists in Python**

#### **1. What is a List in Python?**

A list is a collection of items that are ordered, mutable (changeable), and allow duplicate values. Lists can hold items of different data types, like strings, integers, floats, even other lists!

In [2]:
#Examples:
fruits = ['apple','banana','cherry']
numbers = [1,2,3,4,5]
mixed = [1,'apple',True,3.14]

print(fruits)
print(numbers)
print(mixed)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
[1, 'apple', True, 3.14]

In [3]:
#Creating Lists

empty_list = []
my_list = [10,20,30,40]

print(empty_list)
print(my_list)

[]
[10, 20, 30, 40]

In [4]:
#list() constructor
list_from_tuple = list((1,2,3))
print(list_from_tuple)

[1, 2, 3]

In [ ]:
#Creating a list in python
my_list = [1,10.2,'Meet',True]
print(my_list)

[1, 10.2, 'Meet', True]

In [116]:
#Accessing Elements in the list

num = [10,20,30,40,50]

print(num[2])
print(num[-1])

30
50

In [117]:
#Using Slicing

print(num[1:4])
print(num[:3])
print(num[::2])

[20, 30, 40]
[10, 20, 30]
[10, 30, 50]

In [118]:
#Modifying the list

fruits = ['Apple','Banana','Mango','Orange']
fruits[1] = 'Blueberry'
fruits

['Apple', 'Blueberry', 'Mango', 'Orange']

In [119]:
#Adding elements to a list
#Using 'append()' adds the element at the end

fruits.append("Strawberry")
fruits

['Apple', 'Blueberry', 'Mango', 'Orange', 'Strawberry']

In [120]:
#using 'insert()' adds at a specific index

fruits.insert(2,'Grapes')
fruits

['Apple', 'Blueberry', 'Grapes', 'Mango', 'Orange', 'Strawberry']

In [121]:
#Using 'extend()' to merge two lists
more_fruits = ['Papaya','Kiwi']
fruits.extend(more_fruits)
fruits

['Apple',
 'Blueberry',
 'Grapes',
 'Mango',
 'Orange',
 'Strawberry',
 'Papaya',
 'Kiwi']

In [122]:
#Removing Elemements from a list
#Using 'remove' removes the first occurence
#if there's a duplicate value it removes the first occurence of the duplicate value 

fruits.remove("Papaya")
fruits

['Apple', 'Blueberry', 'Grapes', 'Mango', 'Orange', 'Strawberry', 'Kiwi']

In [123]:
#using 'pop()' removes element by index
fruits
fruits.pop()
fruits

['Apple', 'Blueberry', 'Grapes', 'Mango', 'Orange', 'Strawberry']

In [124]:
lst = lst = [10,20,[30,40,[50,60,[70,[80,[[40]]]]],70],80]

print(lst)

[10, 20, [30, 40, [50, 60, [70, [80, [[40]]]]], 70], 80]

In [125]:
print(lst[2][2][2][1][1][0][0])

40

In [126]:
#Modfying a list

num = [1,2,3]

num.append(4) #adds at the end
num

[1, 2, 3, 4]

In [127]:
num.insert(1,10)
num

[1, 10, 2, 3, 4]

In [128]:
num.extend([5,6])
num

[1, 10, 2, 3, 4, 5, 6]

In [129]:
#Removing Elements

numbers = [10,20,30,40,50]

numbers.remove(30) #Remove the first occurence of 30
numbers

[10, 20, 40, 50]

In [130]:
numbers.pop() #Remove and returns the last item
numbers

[10, 20, 40]

In [131]:
del numbers[1]
numbers

[10, 40]

In [132]:
#Looping through a list
for i in fruits:
    print(i)

Apple
Blueberry
Grapes
Mango
Orange
Strawberry

In [133]:
#List Comphrension

num = [1,2,3,4,5]
squared_numbers = [x**2 for x in num]
squared_numbers

[1, 4, 9, 16, 25]

In [134]:
#Sorting and Reversing a list

numbers = [5,1,8,3,2]

numbers.sort()
numbers

[1, 2, 3, 5, 8]

In [135]:
numbers.sort(reverse=True) #Sort in descending order
numbers

[8, 5, 3, 2, 1]

In [136]:
numbers.reverse()
numbers

[1, 2, 3, 5, 8]

In [139]:
#Finding the maximum, minimum, sum from the list

num = [10,20,40,50,99,4,3,7]
print(max(num))

99

In [140]:
print(min(numbers))

1

In [141]:
print(sum(num))

233

In [142]:
fruits

['Apple', 'Blueberry', 'Grapes', 'Mango', 'Orange', 'Strawberry']

In [ ]:
#checking if an item exists in a list

if 'Apple' in fruits:
    print("Yes Apple is available")
else:
    print("Not Available")

Not Available

In [ ]:
#Copying a list

original = [1,2,3]
copy_list = original.copy()
print(copy_list)

[1, 2, 3]

In [148]:
copy_list.append(4)
copy_list

[1, 2, 3, 4]

In [6]:
#List Comprehension

squares = [x*x for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

# List built in functions

| Function       | Description                                       |
| -------------- | ------------------------------------------------- |
| `append(x)`    | Add element at end                                |
| `extend(list)` | Add elements of another list                      |
| `insert(i, x)` | Insert at position `i`                            |
| `remove(x)`    | Remove first occurrence of `x`                    |
| `pop([i])`     | Remove and return item at index (last by default) |
| `clear()`      | Remove all elements                               |
| `index(x)`     | Return index of first occurrence of `x`           |
| `count(x)`     | Count occurrences of `x`                          |
| `sort()`       | Sort list (ascending by default)                  |
| `reverse()`    | Reverse the list                                  |
| `copy()`       | Create a shallow copy                             |

❗ Common Mistakes to Avoid

| Mistake                             | Explanation                                                                     |
| ----------------------------------- | ------------------------------------------------------------------------------- |
| ❌ IndexError                        | Accessing an index that doesn’t exist                                           |
| ❌ Modifying list while iterating    | This can cause skipped or repeated elements                                     |
| ❌ Using `list1 = list2` for copying | It creates a reference, not a copy! Use `list2.copy()` or `list(list1)` instead |
| ❌ Forgetting list is mutable        | Changes affect the original if passed to a function                             |

In [8]:
#Example 1:Sum of all elements
nums = [1,2,3,4,5]
total = sum(nums)
print(total)

15

In [9]:
#Find the largest number
nums = [3,9,2,5,8]
print(max(nums))

9

In [10]:
#Reverse a list
my_list = [1,2,4,5,8,10]
print(my_list[::-1])

[10, 8, 5, 4, 2, 1]

In [12]:
#Filter even numbers
num = [1,2,3,4,5,6,7,8,9,10]
evens = [x for x in num if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10]

In [21]:
nested_list = [[1,2],[3,4],[5,6]]
flattened = [item for sublist in nested_list for item in sublist]
print(flattened)

[1, 2, 3, 4, 5, 6]

In [19]:
nested_list = [[1,2],[3,4],[5,6]]
flattened = []

for sublist in nested_list:
    for item in sublist:
        flattened.append(item)
    
print(flattened)

[1, 2, 3, 4, 5, 6]

# **List Comprehension**

In [23]:
#Basic Syntax
# new_list = [expression for item in iterable]
# Creating the list from a range

num = [x for x in range(1,11)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
#Filter with a condition

num = [x for x in range(1,11) if x % 2 == 0]
print(num)

[2, 4, 6, 8, 10]

In [27]:
#Apply a function to each item

words = ['hello','world']
capitalized = [word.upper() for word in words]
print(capitalized)

['HELLO', 'WORLD']

In [31]:
#Filter and Modify
nums = [1,2,3,4,5]
square_of_even = [x**2 for x in nums if x % 2 == 0]
print(square_of_even)

[4, 16]

In [32]:
pairs = [(x,y) for x in [1,2] for y in [3,4]]
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
#Flatten a 2D list
nested = [[1,2],[3,4],[5,6]]
flattened = [item for sublist in nested for item in sublist]
print(flattened)

[1, 2, 3, 4, 5, 6]

In [44]:
nested_list = [[1,2],[3,4],[5,6]]
flattened = []

for sublist in nested_list:
    print('Printing The Sublist: ',sublist)
    for item in sublist:
        print('         Printing the items from the sublist:',item)
        flattened.append(item)

print('The Final Flattened Array: ',flattened)

Printing The Sublist:  [1, 2]
         Printing the items from the sublist: 1
         Printing the items from the sublist: 2
Printing The Sublist:  [3, 4]
         Printing the items from the sublist: 3
         Printing the items from the sublist: 4
Printing The Sublist:  [5, 6]
         Printing the items from the sublist: 5
         Printing the items from the sublist: 6
The Final Flattened Array:  [1, 2, 3, 4, 5, 6]

In [45]:
#Conditional Expression

labels = ['even' if x % 2 == 0 else 'odd' for x in range(1,10)]
print(labels)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [47]:
#Removeing Vowels from a string

text = 'beautiful'
no_vowels = [char for char in text if char not in 'aeiou']
print(''.join(no_vowels))

btfl

In [52]:
#Get all numbers divisible by 3 or 5 from 1,100

result = [x for x in range(1,101) if x % 3 == 0 or x % 5 == 0]
print(result)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100]

In [53]:
words = ['apple','banana','mango']
lengths = [len(word) for word in words]
print(lengths)

[5, 6, 5]

# Summary

| Task        | List Comprehension                            |
| ----------- | --------------------------------------------- |
| Basic list  | `[x for x in range(10)]`                      |
| Filtering   | `[x for x in nums if x > 0]`                  |
| Mapping     | `[x**2 for x in nums]`                        |
| If-Else     | `["even" if x%2==0 else "odd" for x in nums]` |
| Nested Loop | `[(x,y) for x in a for y in b]`               |

In [3]:
#Finding the largest element in the list

lst = [1,54,66,85,4,10,69]
largest = lst[0]

for i in range(len(lst)):
    if lst[i] > largest:
        largest = lst[i]
        
print(largest)

85

In [4]:
#Finding the second largest in the list

l = [5,4,6,39,54,69,45,33,61]

largest = l[0]
sec_largest = l[0]

for i in l:
    if i > largest:
        sec_largest = largest
        largest = i
    elif i > sec_largest:
        sec_largest = i

print(f'The First Largest Value is : {largest}')
print(f'The Second Largest Value is : {sec_largest}')

The First Largest Value is : 69
The Second Largest Value is : 61

In [10]:
l = [4,2,3,4]

for i in range(len(l)-1):
    if l[i] < l[i + 1]:
        continue
    else:
        print('Your List isn\'t sorted')
        break

else:
    print('Your List is sorted')

Your List isn't sorted