# **Lists in Python**

#### **1. What is a List in Python?**

##### Ans. A list is an ordered collection that can hold multiple data types like integers, floats, strings, or even other lists.

In [115]:
#Creating a list in python

my_list = [1,10.2,'Meet',True]
print(my_list)

[1, 10.2, 'Meet', True]

In [116]:
#Accessing Elements in the list

num = [10,20,30,40,50]

print(num[2])
print(num[-1])

30
50

In [117]:
#Using Slicing

print(num[1:4])
print(num[:3])
print(num[::2])

[20, 30, 40]
[10, 20, 30]
[10, 30, 50]

In [118]:
#Modifying the list

fruits = ['Apple','Banana','Mango','Orange']
fruits[1] = 'Blueberry'
fruits

['Apple', 'Blueberry', 'Mango', 'Orange']

In [119]:
#Adding elements to a list
#Using 'append()' adds the element at the end

fruits.append("Strawberry")
fruits

['Apple', 'Blueberry', 'Mango', 'Orange', 'Strawberry']

In [120]:
#using 'insert()' adds at a specific index

fruits.insert(2,'Grapes')
fruits

['Apple', 'Blueberry', 'Grapes', 'Mango', 'Orange', 'Strawberry']

In [121]:
#Using 'extend()' to merge two lists
more_fruits = ['Papaya','Kiwi']
fruits.extend(more_fruits)
fruits

['Apple',
 'Blueberry',
 'Grapes',
 'Mango',
 'Orange',
 'Strawberry',
 'Papaya',
 'Kiwi']

In [122]:
#Removing Elemements from a list
#Using 'remove' removes the first occurence
#if there's a duplicate value it removes the first occurence of the duplicate value 

fruits.remove("Papaya")
fruits

['Apple', 'Blueberry', 'Grapes', 'Mango', 'Orange', 'Strawberry', 'Kiwi']

In [123]:
#using 'pop()' removes element by index
fruits
fruits.pop()
fruits

['Apple', 'Blueberry', 'Grapes', 'Mango', 'Orange', 'Strawberry']

In [124]:
lst = lst = [10,20,[30,40,[50,60,[70,[80,[[40]]]]],70],80]

print(lst)

[10, 20, [30, 40, [50, 60, [70, [80, [[40]]]]], 70], 80]

In [125]:
print(lst[2][2][2][1][1][0][0])

40

In [126]:
#Modfying a list

num = [1,2,3]

num.append(4) #adds at the end
num

[1, 2, 3, 4]

In [127]:
num.insert(1,10)
num

[1, 10, 2, 3, 4]

In [128]:
num.extend([5,6])
num

[1, 10, 2, 3, 4, 5, 6]

In [129]:
#Removing Elements

numbers = [10,20,30,40,50]

numbers.remove(30) #Remove the first occurence of 30
numbers

[10, 20, 40, 50]

In [130]:
numbers.pop() #Remove and returns the last item
numbers

[10, 20, 40]

In [131]:
del numbers[1]
numbers

[10, 40]

In [132]:
#Looping through a list
for i in fruits:
    print(i)

Apple
Blueberry
Grapes
Mango
Orange
Strawberry

In [133]:
#List Comphrension

num = [1,2,3,4,5]
squared_numbers = [x**2 for x in num]
squared_numbers

[1, 4, 9, 16, 25]

In [134]:
#Sorting and Reversing a list

numbers = [5,1,8,3,2]

numbers.sort()
numbers

[1, 2, 3, 5, 8]

In [135]:
numbers.sort(reverse=True) #Sort in descending order
numbers

[8, 5, 3, 2, 1]

In [136]:
numbers.reverse()
numbers

[1, 2, 3, 5, 8]

In [139]:
#Finding the maximum, minimum, sum from the list

num = [10,20,40,50,99,4,3,7]
print(max(num))

99

In [140]:
print(min(numbers))

1

In [141]:
print(sum(num))

233

In [142]:
fruits

['Apple', 'Blueberry', 'Grapes', 'Mango', 'Orange', 'Strawberry']

In [ ]:
#checking if an item exists in a list

if 'Apple' in fruits:
    print("Yes Apple is available")
else:
    print("Not Available")

Not Available

In [ ]:
#Copying a list

original = [1,2,3]
copy_list = original.copy()
print(copy_list)

[1, 2, 3]

In [148]:
copy_list.append(4)
copy_list

[1, 2, 3, 4]